
.productname {
    min-height:50px;
}

.range-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#price-display {
    margin-top: 15px;
    margin-bottom: 15px;
}

#profile-input {
    display: none;
}

.profile {
    max-width: 180px;
}